#menu{
    display:block;
    list-style-type:none;
    padding:0;
    margin:0;
    text-decoration:none;
    background-color:black;
    font-size:25px;
    font-weight:900;
    width:130px;
}
.menu,li{
    display:inline-block;
    text-decoration:none;
    color:white;
}
.menu:hover:not(#home){
    color:black;
    background-color:white;
    width:130px;
    text-align:center;
}
#home{
    text-align:center;
    background-color:#009df8;
    color:white;
    display:inline-block;
    width:130px;
    position:relative;
}
#home_logo{
    height:50px;
    width:50px;
    position:relative;
    top:5px;
}
textarea{
    height:100px;
    width:500px;
    text-align:center;
}
.hobbie{
    text-align:left;
}
body{
    font-size:22px;
}
label,th{
    text-align:left;
}
.loginbutton,.button,.editbutton {
    height:25px;
    width:100px;
    border-radius:100px;
    color:white;
    background-color:black;
    border:solid 0px;
}
.editbutton:not(#edit_account){
    position:relative;
    left:147px;
}
.button{
    width:500px;
    height:30px;
}
    .loginbutton:hover, .button:hover, .editbutton:hover {
        background-color: red;
    }
    .loginbutton:hover:not(#reset), .button:hover:not(#reset), .editbutton:hover:not(#reset) {
        background-color: #29d300;
    }
.editbutton#edit_account:hover {
    background-color: Highlight;
}
.progress{
    height:20px;
    width:150px;
    background-color:rgba(255, 255, 255, 0.00);
    position:relative;
    left:-200px;
    top:27px;
    border:2px solid;
    border-left:-201px;
}
#word_pass{
    position:relative;
    left:-30px;
    top:2px;
}
img{
    height:30px;
    width:30px;
    position:relative;
    top:10px;
    color:#35ea00
}
.remarks{
     font-size:15px;
     color:white;
 }
#forgot{
     text-decoration:none;
     color:Highlight;
 }
#login{
    background-image:url('Pictures/Login Image.jpg');
}
#registration{
    background-image:url('Pictures/Registration Image.jpg');
    height:1184px;
}
#logo_login, #logo_reg, #logo_forgot, #logo_account {
    width: 300px;
    height: 200px;
    position: relative;
    left: 1025px;
}
#tab_forgot{
    background-color:rgba(128,128,128,0.3);
    border:none;
    border-radius:25px;
    width:500px;
    position:relative;
    left:400px;
    height:400px;
    top:-200px;
}
#tab_login,#tab_forgot{
    position:relative;
    top:-165px;
}
#tab_login{
    top:-180px;
}
#logo_login,#logo_forgot,#logo_account{
    position:relative;
    top:-130px;
}
#logo_account{
    top:-180px;
}
#logo_reg, #logo_forgot, #logo_account {
    left: 1000px;
}
#tab_reg{
    position:relative;
    top:-200px;
}
.input_user,.input_pass{
    border-radius:3px;
    border-color:Highlight;
}
.V{
    height:40px;
    width:40px;
}
#date{
    border:solid 2px;
    border-radius:3px;
    border-color:Highlight;
    background-color:white;
}
#day,#month,#year{
    width:33px;
    border:none;
    position:relative;
    top:-2px;
    text-align:center;
}
#wrong{
    border:2px solid;
    border-color:red;
    background-color:rgba(255, 5, 20, 0.80);
    border-radius:3px;
    height:35px;
    color:rgba(0, 0, 0, 0.88)
}
.g-recaptcha{
    position:relative;
    left:100px;
}
#error_message{
    position:relative;
    right:15px;
    height:40px;
}
#my_account{
    position:relative;
    right:100px;
    top:-350px;
}
#title{
    font-size:25px;
}
#Edit_My_Account{
    background-image:url('Pictures/Edit My Account Image.jpg');
}
#My_Account {
    background-image: url('Pictures/My Account Image.jpg');
}